.profile__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
@media screen and (min-width: 1024px) {
    .profile__heading {
        gap: 18px;
    }
}
