.popup__input-description {
    width: 238px;
    height: 27px;
    margin-top: 30px;
    margin-bottom: 45px;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1024px) {
    .popup__input-description {
        width: 358px;
        margin-bottom: 48px;
    }
}